@page "/"
@inject NavigationManager nvgMgr;
<div class="container">
    <AuthorizeView>
        <NotAuthorized>
            
                 <div class="card">
                                <h3>Hello, Log in to create a post</h3>
                 </div>  
            <button class="loginbtn" @onclick="GoToLoginPage">Log in</button>
            
        </NotAuthorized>
        <Authorized>
            <button class="btb" @onclick="GotoCreatePost">Create Post</button>
        </Authorized>
    </AuthorizeView>
</div>
@code
{
    private void GoToLoginPage()
    {
        nvgMgr.NavigateTo("https://localhost:7188/Login");
    }

    private void GotoCreatePost()
    {
        nvgMgr.NavigateTo("/CreatePost");
    }

}
